
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<style>
    .margin_c {
        margin-top: -60px;
    }
</style>

<div class="card-body px-lg-5 py-lg-3 margin_c"> 
   
        <p class="alert alert-primary">
            کاربر عزیز <br />
            حساب کاربری شما با موفقیت فعال شد.<br />
            حالا می توانید با نام کاربری و کلمه عبور خود وارد سایت شوید.
        </p>
     
</div>
