@model App.ViewModels.Manage.ForgetPasswordViewModel

@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<style>
    .margin_c{
        margin-top:-120px;
    }
</style>
<div class="card-body px-lg-5 py-lg-3 margin_c">
    <section class="row flexbox-container card-body px-lg-5 py-lg-3">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                    <div class="card-header border-0 pb-0">
                        <div class="card-title text-center">
                            @*<img src="~/app-assets/images/logo/logo-dark.png" alt="branding logo">*@
                        </div>
                        <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                            <span>
                                ایمیل خودتان را وارد کنید به زودترین فرصت لینک بازنشانی کلمه عبور به شما فرستاده میشود
                            </span>
                        </h6>
                    </div>
                    <div class="card-content">
                        @if (ViewData.ModelState.IsValid.ToString() == "False")
                        {
                            <div asp-validation-summary="All" class="alert alert-danger"></div>
                        }
                        <div class="card-body">

                            <form asp-controller="Account" asp-action="ForgotPassword" class="form-horizontal" novalidate>

                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="email" asp-for="Email" class="form-control" id="user-email" placeholder="ایمیل آدرس" required="">
                                    <div class="form-control-position">
                                        <i class="la la-envelope"></i>
                                    </div>
                                    <span></span>
                                </fieldset>
                                <button type="submit" class="btn btn-outline-primary btn-lg btn-block">
                                    <i class="ft-unlock"></i> بازنشانی کلمه عبور
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer border-0">
                        <p class=" text-center">
                            اگر رمز عبور را بیاد دارید روی لینک کلیک کنید؟
                            <a href="/Admin/Manage/SignIn" class="card-link">ورود</a>
                        </p>



                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

