
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<style>
    .margin-c {
        margin-top: -60px;
    }
</style>

<div class="card-body px-lg-5 py-lg-3 .margin-c">
    <p class="alert alert-primary">
        برای بازنشانی کلمه عبور ایمیل خود را چک کنید.
    </p>
</div>

