@model App.ViewModels.Manage.ResetPasswordViewModel

@{
    ViewData["Title"] = "بازنشانی رمز عبور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<style>

    .margin-c {
        margin-top: -120px;
    }
</style>

<div class="card-body px-lg-5 py-lg-3 margin-c">


    <section class="row navbar-flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 m-0">
                    <div class="card-header border-0">
                        <div class="card-title text-center">
                            @* <img src="~/app-assets/images/logo/logo-dark.png" alt="branding logo">*@
                        </div>
                        <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                            <span>بازنشانی کلمه عبور</span>
                        </h6>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @if (ViewData.ModelState.IsValid.ToString() == "False")
                            {
                                <div asp-validation-summary="All" class="alert alert-danger"></div>
                            }
                            <form asp-controller="Account" asp-action="ResetPassword" class="form-horizontal" novalidate autocomplete="false">


                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" asp-for="Code" class="form-control" id="user-email" placeholder="کود" required="">
                                    <div class="form-control-position">
                                        <i class="la la-envelope"></i>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="email" asp-for="Email" class="form-control" id="user-email" placeholder="ایمیل آدرس" required="">
                                    <div class="form-control-position">
                                        <i class="la la-envelope"></i>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="password" asp-for="Password" class="form-control" id="user-email" placeholder="رمز عبور" required="">
                                    <div class="form-control-position">
                                        <i class="la la-password"></i>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="user-email" placeholder="تکرار رمز عبور " required="">
                                    <div class="form-control-position">
                                        <i class="la la-password"></i>
                                    </div>
                                </fieldset>
                                @*<span asp-validation-for="Password" class="text-danger"></span>*@


                                <button type="submit" class="btn btn-outline-primary btn-block btn-lg"><i class="ft-unlock"></i> تغییر کلمه عبور</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>