
@{
    ViewData["Title"] = "پیام موفقیت بازنشانی رمز عبور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<style>
   .margin-c {
        margin-top: -60px;
    }
   
</style>
<div class="card-body px-lg-5 py-lg-3 margin-c">
    <p class="alert alert-primary">
        کلمه عبور شما با موفقیت بازنشانی شد <a class="mr-2 btn btn-outline-primary text-white" asp-area="Admin" asp-controller="Manage" asp-action="SignIn">(برای ورود کلیک کنید)</a>
    </p>
</div>